
 
  <div class="container">
    <div class="row"> 
      <div class="col-md-12 col-sm-3">
        <div class="menu">
            <nav>
              <ul>
                <li class="r"><a routerLink="/catalogo">Catalogo</a></li>
                <li><a routerLink="/registro">Registro</a></li>
                <li><a routerLink="/datos">Datos Usuario</a></li>
                <li><a routerLink="/logout">Cerrar sesion</a></li>
              </ul>
            </nav>
          </div>
      </div>
  </div>
    <div class="row">
    </div>
    <router-outlet></router-outlet>
  </div>
  

  
  
